
<!--
<script id="template" type="x-tmpl-mustache">

<div class="container">
    <div class="entry">
        <img src="{{post_thumbnail_url}}" alt="{{title.rendered}}">
        <h1>{{title.rendered}}</h1>
        <div class="body">
            {{id}}
            {{{content.rendered}}}
        </div>
    </div>
</div>

</script> -->


<script id="post" type="text/x-handlebars-template">

<div class="container">
    <div class="entry">
        <img src="{{post_thumbnail_url}}" alt="{{title.rendered}}">
        <h1>{{title.rendered}}</h1>
        <div class="body">
            {{id}}
            {{{content.rendered}}}
        </div>
    </div>
</div>

</script>
